.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-color: #001219;
   
   
    background-size: cover;
    z-index: 0
}



.masthead h1 {
    color: #C4FCF0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.1;
    z-index: 1;
   
}

.masthead h2 {
    color: #C4FCF0;
    font-weight: 500;
    z-index: 1;
    font-size: 1rem;

    word-spacing: 2px;
}

.masthead a {
    color: #01c29d;
    z-index: 1
}

.card-body{
    color:#00755E;
    background-color: rgb(233, 216, 166, 0.5);
}

.masthead a:hover {
    color: #fff
}

.masthead a:active {
    text-decoration: none
}

@media(min-width:992px) {
    .masthead h1 {
        font-size: 3rem
    }
    .masthead h2 {
        font-size: 1.5rem
    }
}

.masthead .masthead-cards {
    position: relative;
    z-index: 1
}





.masthead .masthead-cards .card {
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #212529;
    transition: .15s all
}

.masthead .masthead-cards .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem
}

.masthead .masthead-cards .card:active {
    margin-top: inherit;
    margin-bottom: inherit
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
    color: #2092ed
}

.masthead .masthead-cards .card.border-bottom-green:hover {
    color: #28a745
}

.masthead .masthead-cards .card.border-bottom-red:hover {
    color: #dd3d31
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
    color: #ffc107
}

.masthead-page {
    padding: 1rem 0 4rem
}

@media(min-width:992px) {
    .masthead-page h1 {
        font-size: 2.5rem
    }
}

.border-bottom-yellow {
    border-color: #ffc107!important;
}

.border-bottom-red {
    border-color: #dd3d31!important;
}

.border-bottom-blue {
    border-color: #2092ed!important;
}

.border-bottom-green {
    border-color: #28a745!important;
}

.border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
    border-bottom: .4rem solid!important;
}
.shadow-lg {
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
.border-0 {
    border: 0!important;
}
.a {
    fill: none;
  }
  
  .b {
    clip-path: url(#a);
  }
  
  .c,
  .d {
    fill: #e9d8a6;
  }
  
  .d {
    opacity: 0.5;
    isolation: isolate;
  }


.fa-4x{
    color: #00755E;
}